pkgbase = xnconvert
	pkgdesc = XnConvert is a fast, powerful and free cross-platform batch image converter.
	pkgver = 1.111.0
	pkgrel = 1
	url = https://www.xnview.com/en/xnconvert/
	arch = x86_64
	license = custom:freeware
	depends = hicolor-icon-theme
	depends = glibc
	provides = xnconvert
	conflicts = xnconvert
	options = !strip
	source = https://download.xnview.com/old_versions/XnConvert/XnConvert-1.111.0-linux-x64.tgz
	sha256sums = e2f1ad8d9f6d0b8297016e45319929248dae491faa7fa439d891da315b3cb32e

pkgname = xnconvert
